- each file in files
    .file(data-path="#{file.path}")
        .icon
            img(src="assets/icons/#{file.type}.png")
            if file.thumbnail
                - var klass = (file.vertical ? "imgThumbW" : "imgThumbH")
                img(src="data:image/jpeg;base64,#{file.thumbnail}" class=klass)
        .name #{file.name}
